:root {
    --box-width: clamp(10vw + 10rem, 20vw + 10rem, 40rem);
    --box-height: clamp(10vw + 10rem, 20vw + 10rem, 40rem);
    --square-width: calc(var(--box-width) / 9);
    --square-height: calc(var(--box-height) / 9);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

.wrapper {
    display: flex;
}

.left {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-basis: 50%;
    margin-left: 20%;
    margin-right: 2%;
}

.squareBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: clamp(10vw + 10rem, 20vw + 10rem, 40rem);
    height: clamp(10vw + 10rem, 20vw + 10rem, 40rem);
    border: 3px solid black;
}

.squareBody .squareSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11.1111%;
}

.square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 11.1111%;
    border: 1px solid rgb(186, 182, 182);
    font-size: 2rem;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* .noteBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: right;
    font-size: 0.85rem;
    color: black !important;
    overflow: hidden;
    margin-right: 5%;
    z-index: 1;
} */

.noteBox {
    display: grid;
    grid-template-columns: repeat(3, minmax(33.333%, 1fr));
    width: 100%;
    height: 100%;
}

.noteBox h2 {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
}

.noteBox h2:before {
    content: "\200B";
}

.square:hover {
    background-color: rgba(189, 187, 187, 0.5);
    cursor: pointer;
}

.leftB {
    border-left: 3px solid black;
}

.topB {
    border-top: 3px solid black;
}

/* Controls */

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    margin-right: 20%;
    margin-left: 2%;
    /* margin-left: 5%; */
}

.buttonSection {
    display: flex;
    flex-basis: 10%;
}

.buttonSection div {
    margin-left: 1rem;
    margin-right: 1rem;
}

.buttonSection i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 1rem;
    /* width: 4rem;
    height: 4rem; */
    font-size: 2rem;
    cursor: pointer
}

.buttonSection i:active {
    background-color: lightgray;
}

.buttonSection h2 {
    margin-top: 0.5rem;
}

.note {
    width: 4.25rem;
}

/* .numPad {
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
    width: 50%;
    gap: 2px;
}

.numPad .num {
    width: clamp(1vw + 1rem, 5vw + 5rem, 10rem);
    height: clamp(1vw + 1rem, 5vw + 5rem, 10rem);
    flex-basis: 33%;
    border: 1px solid black;
} */

.numPad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 5%;
  }
  
  .num {
    min-width: 5rem;
    min-height: 5rem;
    background-color: #e9e9e9;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
  }

  .num h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
  }

  .num:active {
    background-color: #cacaca;
  }

/* Newboard */

.newButton {
    display: flex;
    flex-basis: 30%;
    justify-content: left;
    align-items: flex-end;
}

.newButton button {
    cursor: pointer;
    padding: clamp(1rem, 1vw + 0.5rem, 2rem);
}

/* General Classes */

.correct {
    color: rgba(13, 13, 176, 0.75);
}

.incorrect {
    color: red;
}

.active {
    background-color: lightgray;
}

.selected {
    background-color: gray !important;
}

.default {
    background-color: white;
}

.grayed {
    background-color: lightgray;
}

.brushed {
    color: white;
    background-color: black;
}

.darkGrayed {
    background-color: rgb(50, 50, 50);
    opacity: 80%;
}



@media screen and (max-width: 1000px) {
   
   .wrapper {
        display: block;
   }

   .left {
    justify-content: center;
    margin: auto;
   }

   .right {
    margin: auto;
   }

   .squareBody {
    width: calc(5rem + 80vw);
    height: calc(5rem + 80vw);
    margin-bottom: 2%;
   }

   .squareSection {
    height: auto;
   }

   .noteBox h2 {
    font-size: 0.75rem;
   }

   .numPad {
    display: flex;
    gap: 1px;
    order: 1;
   }

   .buttonSection {
    order: 2;
    flex-basis: 5%;
    margin-bottom: 1%;
   }

   .buttonSection h2 {
    margin: 0;
   }

   .numPad .num {
    flex-basis: 11.1111%;
    width: calc(1rem + 6.25vw);
    height: calc(1rem + 6.25vw);
    min-width: 1rem;
    min-height: 1rem;
   }

   .newButton {
    order: 3;
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
   }

   h1 {
    margin-top: 0;
    margin-bottom: 1%;
   }

   .topMenu h2 {
    margin-top: 2%;
    margin-bottom: 2%;
   }
    
}
